{% extends 'base.html.twig' %}

{% block title %}Hello AccueilController!{% endblock %}

{% block body %}
    <h1>Bienvenue sur l'application de gestion des contacts</h1>
   
   


  
{% endblock %}

