{% extends 'base.html.twig' %}

{% block title %}Liste des Contacts{% endblock %}

{% block body %}
<h1 class='text-center pt-2'> Liste des Contacts </h1>

<div class= 'row'>
  {%for leContact in contacts %}
    <div class="col-sm-12 col-md-12 col-lg-4 col-xl-3">

    <div class="card" style="width: 18rem;">
{{ include('contact/_cardlistcontacts.html.twig',{'mode':'listeContacts'})}}
    </div>
    </div>
{%endfor %}

</div>
  
{% endblock %}
